.toolbar {
    display: flex;
    justify-content: space-between;
}

.App {
    background-color: #f8f9fa;
}

.button-link {
    text-decoration: none;
}

hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 5px;
}
